<span *ngFor="let planet of listOfPlanets; let i = index">
    <h1>
        Planet <span class="planet-name" [style.display]="edit? 'none': 'inline'">{{planet.planetName}}</span> 
        <input type="text" value="{{planet.planetName}}" class="name-field" #newName [style.display]="edit? 'inline': 'none'">
        <input type="button" value="Edit" class="name-edit" (click)="editMode()" [style.display]="edit? 'none': 'inline'">
        <input type="button" value="OK" class="ok-button" [style.display]="edit? 'inline': 'none'" (click)="editName(i, newName.value)">
    </h1>
    <p>Radius: {{planet.size}}
    <br>Parent Star: {{planet.parentStar}}
</span>

<div>
    <h2>Add planet to inventory (admins only)</h2>
    <input #pass (keyup.enter) = "displayInput(pass.value); pass.value='' " >
    <button (click) = "displayInput(pass.value); pass.value='' ">Get Access</button>

    <div [ngClass]="showPlanetInfo ? 'show' : 'hide'">
        <label for="planetName">Planet Name:</label>
        <input type="text" #planetName ><br>
        <label for="planetSize">Size (miles)</label>
        <input type='number' #planetSize ><br>
        <label for="planetParent">Parent Star</label>
        <input type='text' #planetParent ><br>
        <select name="planetType" id="planetType">
            <option value="select">Select Type</option>
            <option value="rocky">Rocky Planet</option>
            <option value="gas">Gas Giant</option>
            <option value="ice">Ice Giant</option>
        </select>
    </div>

    <div #gasMixture ngClass='checkbox-form'>
        <div>
            <input type="checkbox" #helium >
            <label for='helium'>Helium</label>
        </div>
        <div>
            <input type="checkbox" #hydrogen >
            <label for='hydrogen'>Hydrogen</label>
        </div>
    </div>

    <div #coreElements ngClass='checkbox-form'>
        <div>
            <input type="checkbox" #iron >
            <label for='iron'>Iron</label>
        </div>
        <div>
            <input type="checkbox" #nickel >
            <label for='nickel'>Nickel</label>
        </div>
    </div>

    <div #fluidElements ngClass='checkbox-form'>
        <div>
            <input type="checkbox" #water >
            <label for='water'>Water</label>
        </div>
        <div>
            <input type="checkbox" #methane >
            <label for='methane'>Methane</label>
        </div>
        <div>
            <input type="checkbox" #ammonia >
            <label for='ammonia'>Ammonia</label>
        </div>
    </div>

    <button #submitPlanetBtn ngClass='btn'>Submit</button>

    <div>
        
    </div>
  </div>

  <tutorial></tutorial>

