<div class="unionscontainer">
    <h1>Generics Vs. Unions</h1>
    <p class="info">TypeScript's type system allows you to build new types by combining multiple types. The first way to
        combine
        types you might see is a union type. A union type is a type formed from two or more other types, representing
        values that may be any one of those types. We refer to each of these types as the union’s members.</p>

    <div class="code" style="width: 700px; height: 505px;">
        <p>function getArrayWithGenerics&lt;T&gt;(items : T[] ) : T[] &#123;</p>
        <p class="indent">return new Array&lt;T&gt;().concat(items);</p>
        <p>&#125;</p><br>

        <p>function getArrayWithUnions(items : number[]|string[] ) : number[]|string[] &#123;</p>
        <p class="indent">return new Array().concat(items);</p>
        <p>&#125;</p><br>
        <p>let myNumArr = getArrayWithGenerics&lt;number&gt;([100, 200, 300]);</p>
        <p>let myStrArr = getArrayWithGenerics&lt;string&gt;(["Hello", "World"]);</p><br>

        <p>let myNumArr2 = getArrayWithUnions([100, 200, 300]);</p>
        <p>let myStrArr2 = getArrayWithUnions(["Hello", "World"]);</p><br>

        <p>myNumArr.push(400); // OK</p>
        <p>myStrArr.push("Hello TypeScript"); // OK</p><br>

        <p>myNumArr2.push(400); // NOT OK</p>
        <p>myStrArr2.push("Hello TypeScript"); // NOT OK</p>
    </div><br>

    <h2>Example:</h2>
    <div class="code" style="width: 550px; height: 120px;">
        <p>function lastItem(arr: number[]|string[]): number|string &#123;</p>
        <p class="indent">return arr[arr.length - 1];</p>       
        <p>&#125;</p><br>
        </div><br>

    <div class="exampleforms">
        <div class="numberarrdiv">
            <form>
                <label>Enter a number for all;</label><br>
                <input #a type="number"><br>
                <input #b type="number"><br>
                <input #c type="number"><br>
                <input #d type="number"><br>
                <input #e type="number"><br>
                <input id="numSubmit" type="submit" value="Submit"
                    (click)="addToNumArr(a.value,b.value,c.value,d.value,e.value,$event)"><br>
                <p class="code" style="width: 60%; margin: 10px auto;"><span *ngIf="showNumRes==true">The number {{lastItem(numArray)}} is the last item of the [{{numArray}}]
                    array</span></p>
            </form>
        </div>

        <div class="stringarrdiv">
            <form>
                <label>Enter a text for all;</label><br>
                <input #aa type="input"><br>
                <input #bb type="input"><br>
                <input #cc type="input"><br>
                <input #dd type="input"><br>
                <input #ee type="input"><br>
                <input id="strSubmit" type="submit" value="Submit"
                    (click)="addToStrArr(aa.value,bb.value,cc.value,dd.value,ee.value,$event)"><br>
                <p class="code" style="width: 60%; margin: 10px auto;"><span *ngIf="showStrRes==true">The string {{lastItem(strArray)}} is the last item of the [{{strArray}}]
                    array</span></p>
            </form>
        </div>
    </div>
</div>