<div class='definitions'>
    <div>
        <h2>TypeScript Classes</h2>
        <p>
            A TypeScript class is declared with the class keyword followed by the class name.<br>
            Inside the class we can define variables, constructors, and functions.
        </p>
        <pre><code>
        {{classString}}
        </code></pre>
    </div>
    <h2>Inheritance</h2>
    <p>A subclass inherits all of the properties and methods of its parent class.</p>
    <pre><code>
      {{inheriString}}
    </code></pre>

    <div>
        <h2>Visibility</h2>
        <h3>Public</h3>
        <p>
            Public is the default visibility for class members, and they can be accessed from anywhere. <br>
            There is no need to write public, but can add it for readability.
        </p>
        <pre><code>
        {{publiString}}
        </code></pre>
        <h3>Protected</h3>
        <p>
            Protected members are only visible to the subclasses of their class.
        </p>
        <pre><code>
        {{proteString}}

      </code></pre>
        <h3>Private</h3>
        <p>
            Private members can only be accessed within the same class.
        </p>
        <pre><code>
        {{privaString}}
      </code></pre>
        <h3>Static</h3>
        <p>
            Static members are not associated with any particular instance of a class. <br>
            They can be accessed using dot notation. They can be public, private, or protected.
        </p>
        <pre><code>
        {{statiString}}
      </code></pre>
        <h2>Getters</h2>
        <p>
            A getter is also called an accessor. <br>
            A getter method returns the value of the property's value.
        </p>
        <pre><code>
        {{getteString}}
      }
      </code></pre>
        <h2>Setters</h2>
        <p>
            A setter is also called a mutator. <br>
            A setter method updates the property's value.
        </p>
        <pre><code>
        {{setteString}}
      </code></pre>
        <h2>All Together</h2>
        <pre><code>
        {{bigString}}
      </code></pre>
        <h2>Chaining</h2>
        <pre><code>
        {{chainString}}
      </code></pre>
    </div>
</div>